.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store

/build
/app/build
/captures

*.iml
*.iws
*.ipr
*.class
*.apk
*.aab
*.log

/ndk-build/
/obj/
/libs/
/src/main/jniLibs/

/test-results/

/temp/

